/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

h2 {
  color: #4a4a4a;
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* Navbar Styles */
nav {
  background-color: #343a40;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li {
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Form Styles */
input[type="text"],
input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Table Styles */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

/* Responsive Design */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
  }
}

// Component wise css

// login 
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

@media (max-width: 600px) {
  .login-container {
    padding: 10px;
  }
}

//dashboard
.dashboard-container {
  padding: 20px;
  background-color: #f0f2f5;
}

.ant-card {
  text-align: center;
}

.ant-statistic-title {
  font-size: 16px;
}

.ant-statistic-content {
  font-size: 24px;
}

@media (max-width: 768px) {
  .dashboard-container {
    padding: 10px;
  }
}


// navbar
.desktop-menu {
  display: block;
}
.mobile-menu-button {
  display: none;
}
@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }
  .mobile-menu-button {
    display: block;
  }
}